.registerTitleContainer{
    display: flex;
width: 28.1875rem;
flex-direction: column;
align-items: flex-start;
gap: 0.75rem;
}

.welcome{
    width: 19.4375rem;
    height: 2rem;
}

.welcome p {
    color: var(--allaria-primary-primary-darker-900, #001C40);
font-family: Poppins;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.allariaTitle{
    color: var(--allaria-primary-primary-normal-300, #0150B7);
font-family: Poppins;
font-size: 1.3125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.registerTitle{
    width: 30.9375rem;
    color: #000;
    font-family: Poppins;
font-size: 2.5rem;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 3rem */
}

.userCondition{
    width: 28.1875rem;
    height: 3.125rem;
}

.userCondition p {
    color: var(--allaria-primary-primary-normal-300, #0150B7);
font-family: Roboto;
font-size: 1.3125rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.userInputContainer{
    width: 28.1875rem;
height: 5.75rem;
flex-shrink: 0;
}

.userInputContainer label{
    color: var(--allaria-primary-primary-darker-900, #001C40);
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.userInputContainer input {
    width: 28.1875rem;
height: 3.5625rem;
flex-shrink: 0;
border-radius: 0.5625rem;
border: 1px solid var(--allaria-primary-primary-light-200, #B0C9E9);
background: var(--allaria-greyscale-white, #FFF);

color: var(--allaria-secondary-secondary-normal-400, #626F84);
font-family: Poppins;
font-size: 0.875rem;
font-style: normal;
font-weight: 300;
line-height: normal;
}


.registerButton{
    width: 28.1875rem;
height: 3.375rem;
flex-shrink: 0;
border-radius: 0.625rem;
background: var(--allaria-primary-primary-normal-300, #0150B7);
box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.30);


color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.inputError{
    border: 1.5px solid red !important;
}

.userInputContainer p {
    margin-top: .25rem;
    color: red;
    font-size: 1rem;
}

.registerButton:disabled{
    opacity: 0.5;  /* Ajusta el valor de opacidad según tus preferencias */
    cursor: not-allowed;  /* Cambia el cursor cuando está deshabilitado */
}


.inputLabel input{
    padding-left: 10px
}